<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.bluetooth" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.LOCAL_MAC_ADDRESS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application>
        <uses-library android:name="android.test.runner" />

        <receiver android:name="android.bluetooth.PendingIntentScanReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.bluetooth.test.ACTION_SCAN_RESULT" />
            </intent-filter>
        </receiver>
    </application>

    <instrumentation android:name="androidx.test.runner.AndroidJUnitRunner"
                     android:targetPackage="android.bluetooth"
                     android:label="Bumble Bluetooth Test"/>
</manifest>
