<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.bluetooth.tools.leaudiocompatibilitytool">

  <uses-sdk android:minSdkVersion="31" android:targetSdkVersion="33"/>

  <!-- Needed only if your app makes the device discoverable to Bluetooth
     devices. -->
  <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
  <!-- Needed only if your app looks for Bluetooth devices. -->
  <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
  <!-- Needed only if your app communicates with already-paired Bluetooth
    devices. -->
  <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <!-- Needed for abortBroadcast in Pairing test -->
  <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />

  <!-- Needed for call related tests -->
  <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />

  <!-- Needed for recording -->
  <uses-permission android:name="android.permission.RECORD_AUDIO" />

  <application
      android:name=".app.LeAudioCompatibilityToolApplication"
      android:allowBackup="true"
      android:taskAffinity=""
      android:supportsRtl="true"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:label="@string/app_name"
      android:theme="@style/Theme.MyApplication">

    <activity
        android:name=".app.MainActivity"
        android:launchMode="singleTask"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
        <!-- For adb command to trigger test -->
        <action android:name="android.bluetooth.tools.leaudiocompatibilitytool.action.ACTION_START_TEST" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

  </application>

</manifest>